* {
    color: rgba(241, 115, 12, 0.932);
    background-color: rgb(250, 207, 214);
    text-align: center;
    font-family: "arial";
    box-sizing: border-box
}
h1 {
    color: rgb(76, 230, 184);
    font-size: 55px;
    border: 9px solid rgb(229, 155, 155);
    padding: 20px;
    margin: 30px;
    height: 120px;
    width: 600px
}
img {
    height: auto;
    width: 500px
}
.alert-text {
    color: hsl(15, 87%, 50%);
    font-weight: bold
}
